# Ignorar el entorno virtual
.venv/

# Ignora configuracion de jetbrains
.idea
.idea/*.xml
*.iml
.idea/Solucionador_De_Test.iml

# Ignorar todos los archivos ocultos (carpetas y archivos)
.*

# Properties propias
python/config/personal.ini

# Ignorar todos los archivos .txt
*.txt

